h1 The End
div.well(style="font-size: 130%")
  h1 Honey Darling
  hr
  p honeyandtheheart@gmail.com
  p http://honeyd.github.io
  p https://github.com/honeyd
div.well(style="font-size: 130%; text-align: right")
  p https://www.firebase.com
  p http://angularfire.com/
  p https://groups.google.com/forum/#!forum/firebase-angular
  p http://angularjs.org/
div.pull-left(style="font-size: 90%; color: #AAA") 7/7