h1 Overview
div.well(style="background-color: black; color: white; font-size: 130%")
  div
    img(src="img/logo-white.png", style="width: auto")
  h3 Scalable real-time backend
  ul
    li JSON Datastore
    li Real-time synchronization
    li Authentication and security rules
div.well(style="font-size: 130%")
  img(src="img/afire-logo.png", style="max-width: 208px")
  h3 3-way data binding
  ul
    li Persist Angular models automatically
    li Or not, with more powerful explicit sync
div.pull-left(style="font-size: 90%; color: #AAA") 2/7