!!!
html(ng-app="myApp")
  head
    base(href='/')
    title Angular Express Seed App
    block meta
        meta(charset='utf8')
        meta(name='description', content='')
        meta(name='keywords', content='')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css')
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/font-awesome/4.0.2/css/font-awesome.min.css')
    link(rel='stylesheet', href='/css/app.css')
  body
    block body